* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.banner {
    width: 100%;
    background: url(Imagens/1x/crr-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.fundo-transparente {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.banner-text .fundo-transparente {
    display: flex;
    flex-direction: column;
}

.banner-itens {
    height: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner-itens h1 {
    font-size: 3.5em;
    font-family: 'Roboto';
}

.banner-itens p {
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, .2);
    max-width: 20em;
    text-align: center;
    border: .05em solid #FFFF;
    transform: translatey(1.8rem);
}

.banner-itens hr {
    transform: translateY(8px);
    min-width: 80rem;
    border: .13em solid #FFFF;
   
}

.flex-container {
    display: flex;
    width: 100%
}

#left {
    flex-basis: 35%;
    flex-grow: 0;
    background: rgb(35, 35, 35);
    /* display: flex; */
}

#left img {
    width: 17em;
    /* padding: 6em 0 4em 6em; */
}

.perfil {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 25em;
    align-items: center;
}

#left .informations {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 3em;
    line-height: 2.5em;
    font-weight: 500;
}

.informations hr {
    border: 0.05em solid rgba(200, 200, 200, 0.6);
    max-width: 24rem;
}

p span {
    width: 9em;
    display: inline-block;
}

span {
    font-size: 1em;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.informations h2 {
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.reco {
    font-size: 1.5em;
}

.links li i {
    font-size: 2em;
    width: 1.5em;
    display: inline-block;
}

.links li a {
    text-decoration: none;
    color: rgba(253, 253, 253, 0.5);
    font-size: 1.3em;
    font-family: 'Bitter';
    font-weight: 800;
}

#right {
    flex-basis: 65%;
    flex-grow: 0;
    background: rgb(250, 250, 250);
}

#right h2 {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.6em 0 0.6em 1.2em;
}

#right hr {
    border: 0.15em solid #4169E1;
}

.exp p {
    padding: 14rem;
}

#right p {
    padding: 1.6em;
}

#right h3 {
    font-size: 1.5em;
    padding-left: 14rem;
}

#right h4 {
    padding-left: 15rem;
    font-size: 1.8rem;
}

#right p {
    padding-left: 1.6rem;
}

#right h5 {
    font-size: 1rem;
    padding: .8rem;
}

.mais {
    display: flex;
    padding: 1.2rem 8rem; 
}

.hbb {
    display: flex;
}
.hbb > *{
    display: flex;
    flex-direction: column;
}
.hbb i{
    text-align: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.4);
    padding: 1.4rem;
}


.soft hr {
    border: 0.5em solid;
    /*não ta pegando essa regra pq ja tem outra ali em cima cobrindo */
    max-width: 15rem;
}

#right {
    font-family: 'Roboto';
}
/* time line */

.flex-exp{
    display: flex;
    flex-direction: row;
}
.flex.-ed{
    display: flex;
    direction: row;
}



/*timeline do felipao*/

.timeline-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.timeline-year {
    flex-grow: 0;
    flex-basis: 5em;
    background-color: black;
    color: white;
    height: 3.5rem;

}
span.timeline-year p{
    font-size: 2em;
}

.timeline-span {
    height: 5rem;
    flex-basis: 1px !important;
    background: #4169E1;
    flex-grow: 0 !important;
    margin-left: 5em;
}

.timeline-conteudo {
    color: black;
}
footer{
    height: 3rem;
    width: 100%;
    background-color: #4169E1;

} 